html {
	font-size: 1.5em;
}

body {
	font-family: monospace;
	background-color: rgb(25, 25, 25);
	color: rgb(51, 226, 83);
	text-align: center;
	max-width: 30em;
	margin: auto;
}

ul {
	margin: 1em 0 0 0;
	padding: 0;
	list-style: none;
}

button {
	all: unset;
	background-color: rgb(28, 73, 0);
	padding: .1em;
	margin: 1em 0 0 0;
	width: 10em;
	transition: .1s;
	outline: solid 1px green;

	&:disabled {
		background-color: rgb(57, 57, 57);
		color: rgb(107, 107, 107);
		outline: solid grey 1px;
	}

	&:focus, &:hover {
		background-color: rgb(29, 199, 80);
		color: rgb(255, 255, 255);
		font-weight: 900;
		box-shadow: 0 0 1em green;
		padding: 1em;
		cursor: pointer;
		border-radius: .1em;
	}
}

#repeatBtn {
	filter: hue-rotate(180deg);
}

#finalAnnouncement {
	animation: rainbow 20s infinite linear;
	text-shadow: 
		0 0 .2em green,
		0 0 2em green;
}

@keyframes rainbow {
	to {
		filter: hue-rotate(360deg);
	}
}